<?xml version="1.0" encoding="utf-8"?>
<phpunit
  bootstrap="bootstrap.php"
  timeoutForSmallTests="900"
  timeoutForMediumTests="900"
  timeoutForLargeTests="900"
  displayDetailsOnTestsThatTriggerNotices="true"
  displayDetailsOnTestsThatTriggerWarnings="true"
  displayDetailsOnTestsThatTriggerDeprecations="true"
  displayDetailsOnPhpunitNotices="true"
  displayDetailsOnPhpunitDeprecations="true"
  cacheDirectory=".phpunit.cache">
  <testsuite name="OpenStreetMap integration Unit Tests">
    <directory suffix="Test.php">./unit</directory>
  </testsuite>
  <source>
    <include>
      <directory suffix=".php">../appinfo</directory>
      <directory suffix=".php">../lib</directory>
    </include>
  </source>
</phpunit>
